.footer-container{
    padding: 20px 4rem;
    background-color: #a59b9b1c;
    display: flex;
    justify-content: space-between;

}

.footer-content{
    display: flex;
    flex-direction: column;
}

.footer-content a {
    text-decoration: none;
    color: white;
    font-size: 11px ;
    font-weight: bold;
}

.footer-content h5{
    color: #a89e9e91;
    margin-bottom: 0;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icons {
  font-size: 40px;
  color: gray;
}