.match-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.match-tite h1{
    font-size: 40px;
    color: white;
    margin-bottom: 0;
}

.match-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.match-menu button{
    width: 270px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #555252b6;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    
}