.match-container{
    max-width: 80%;
    margin: auto;
}
.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.match-tite h1{
    font-size: 40px;
    color: white;
    margin-bottom: 0;
}

.match-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.match-menu button{
    width: 270px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #555252b6;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
}

table{
    width: 100%;
    margin-top: 30px;
    background-color: #444;
    border-collapse: collapse;
    color: white;
    border-radius: 4px;
}

table th, table td {
    padding: 20px;
    text-align: left;
    border-bottom: 3px solid #333;
}

.entry-fee{
    color: #3cb371;
    font-weight: bold;
    font-size: 17px;
}

.join-btn{
    background-color: #3cb371;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


