.news-container{
    width: 92%;
    margin: auto;
    padding-top: 2rem;
}

.news-title{
   margin-bottom: 3rem;
}

.h1 {
    font-size: 40px;  
    margin: -10px;
}

.image-container {
    display: flex;
    gap: 20px;
}

.news1{
    position: relative;
}

.news1 img {
    height: 300px;
    max-width: 500px;
    border-radius: 5px;
}

.new1-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 300px;
    background-color: #141313c0;
    z-index: 0;
    padding-left: 8px;
}

.new1-content h5 {
  color: #1cec2dfa;
}

.new1-content p {
    font-size: small;
}

.new1-content button{
    background-color: #3cb371;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    margin: 10px;
}