.news-container {
    width: 92%;
    margin: auto;
    padding-top: 2rem;
}

.news-title {
    margin-bottom: 3rem;
}

.h1 {
    font-size: 40px;  
    margin: -10px;
}

.image-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.news1 {
    position: relative;
    flex: 1 1 calc(48% - 10px); 
    max-width: 600px; 
}

.news1 img {
    height: 350px; 
    width: 100%; 
    border-radius: 5px;
}

.new1-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 350px;
    background-color: #141313c0;
    z-index: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.new1-content h5 {
    color: #1cec2dfa;
}

.new1-content p {
    font-size: small;
    color: white;
    margin-bottom: auto;
}

.new1-content button {
    background-color: #3cb371;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    align-self: flex-start; 
    margin-top: auto; 
}

/* Responsive Design for tablet */
@media (max-width: 768px) {
    .news-title {
        text-align: center;     
    }

    .news-title h1, h2 {
        font-size: 1.5rem;
        margin-bottom: 2px;
    }

    .image-container {
        flex-direction: column;
        gap: 10px; 
    }

    .news1 {
        flex: 1 1 100%;
    }

    .news1 img {
        height: 300px;
    }

    .new1-content {
        width: 100%; 
        height: 300px;
    }
}

/* Responsive Design for mobile */
@media (max-width: 480px) {
    .news1 img { 
        width: 100%;
        height: auto; 
    }
    .new1-content button {
        display: none; 
    }
}
