.player-container {
    padding: 10px;
    margin: auto;
    margin-bottom: 60px;
}
.player-title {
    text-align: center;
}

.player-title h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

.palyerCard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.palyer-card{
  border-top: 5px solid ;
  background-color: #230a68;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6rem;
  position: relative;
}

.player-info{
    text-align: center;
}

.card-1{
    margin-top: -5px;
}
.palyer-card img {
    width: 120px;
    height: 120px;
    border-radius: 50% ;
    border: 4px solid white;
    position: absolute;
    top: -50px;
    
}
 
.palyer-card p{
    margin: 5px 0;
}

.coins{
    color: #3cb371;
    font-weight: bold;
    padding-bottom: 10px;
}

.palyer-card button {
    background-color: #3cb371;
    border: none;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 30px; 
}

/*  Responsive design midium screen*/
@media (max-width: 768px) {
    .player-title {
        text-align: start;
    }
    
    .player-title h1 {
        font-size: large;
    }

        .palyerCard-container {
            flex-direction: column; 
            gap: 10px;
        }

        .palyer-card {
            flex-direction: row; 
            align-items: center; 
            justify-content: flex-start; 
            height: auto; 
            padding: 10px; 
            width: 100%;
            margin-top: 0;
        }

        .card-1 {
            margin-top: 0; 
        }

        .palyer-card img {
            position: static; 
            width: 80px; 
            height: 80px;
            margin-right: 15px; 
        }
    
        .palyer-card h1, .palyer-card p {
            text-align: left;
        }
    
        .palyer-card h1 {
            font-size: 1.2rem;
        }
    
        .palyer-card p {
            font-size: 1rem;
        }
    
        .palyer-card button {
          display: none;
        }
    }
    
