.player-container {
    max-width: 90%;
    margin: auto;
    margin-bottom: 60px;
}
.player-title {
    text-align: center;
}

.player-title h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

.palyerCard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.palyer-card{
  border-top: 5px solid ;
  background-color: #230a68;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6rem;
  position: relative;

}

.card-1{
    margin-top: -5px;
}
.palyer-card img {
    width: 120px;
    height: 120px;
    border-radius: 50% ;
    border: 4px solid white;
    position: absolute;
    top: -50px;
    
}
 
.palyer-card p{
    margin: 5px 0;
}

.coins{
    color: #3cb371;
    font-weight: bold;
    padding-bottom: 10px;
}

.palyer-card button {
    background-color: #3cb371;
    border: none;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 30px; 
}